openpyxl
streamlit
openai
pandas
numpy
pysqlite3-binary
chromadb
torch==2.1.2
transformers==4.38.2
protobuf==3.20.*
sentence-transformers==2.2.2
FlagEmbedding==1.2.10
sentencepiece
accelerate
huggingface_hub==0.20.3
